.sub_category_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.sub_category_grid {
  height: 400px;
  width: 80%;
}

select {
  width: 100%;
  border: 1px solid blue;
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
}

input {
  margin-top: 10px;
}

.buttons_container {
  margin-top: 20px;
}

.buttons_container Button {
  margin: 20px;
}
